[alias]
	aco = add -A && commit -m
	a = "!git add ."
	d = diff
	co = checkout
	ci = commit
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	st = status
	br = branch
[init]
  defaultBranch = master
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[core]
  editor = nvim
  ignorecase = false
[user]
  name = Gonzalo Stoll
  email = stollgonzalo@gmail.com
[github]
  user = gonstoll
[rerere]
	enable = true
