.DS_Store

# zsh
.histfile
.zcompdump
.zsh_*
.z_database
custom.zsh

# Wallpapers
/system/wallpapers/images/*/*.jpg
/system/wallpapers/images/*/*.png
/system/wallpapers/images/*/*.jpeg
!/system/wallpapers/images/*/output.heic

# .config dirs
.config/bun
.config/configstore
.config/fontforge
.config/github-copilot
.config/iterm2
.config/planetscale
.config/raycast
.config/rust
.config/gh
.config/gh-copilot
.config/nvm

# tmux
.config/tmux/plugins/*
!config/tmux/plugins/tpm
