[submodule "zsh/oh-my-zsh"]
  path = zsh/oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh-autosuggestions"]
  path = zsh/oh-my-zsh-custom/plugins/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "system/wallpapers/wallpapper"]
	path = system/wallpapers/wallpapper
	url = https://github.com/mczachurski/wallpapper
