.DS_Store

# zsh
.histfile
.zcompdump
.zsh_*
.zshenv
.z_database
custom.zsh

# Wallpapers
/system/wallpapers/images/*/*.jpg
/system/wallpapers/images/*/*.png
/system/wallpapers/images/*/*.jpeg
!/system/wallpapers/images/*/output.heic

# tmux
.config/tmux/plugins/*
!config/tmux/plugins/tpm

# Binary files
.local/bin/*
!.local/bin/arc
!.local/bin/code_extensions
!.local/bin/dotfiles
!.local/bin/osxdefaults
!.local/bin/stow-dotfiles
!.local/bin/tmux-sessionizer
!.local/bin/u
